body {
    margin: 0;
    font-family: var(--font-family);;
    background-color: var(--body-color);
    color: #222;
    font-size: var(--font-size-body);
}

.contact-info span {
    margin-left: 15px;
}

.container {
    padding: 20px;
}

.reserva-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    height: 350px;
}

.reserva {
    flex: 1;
    display: flex;
}

.reserva-form {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.reserva-form h2 {
    font-weight: 700;
    margin-top: 0;
}

.reserva-form label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.personas {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-control {
    background-color: #CCCCCC;
    color: black;
    border: 1.5px solid black;
    width: 22px;
    height: 22px;
    border-radius: 20%;
    cursor: pointer;
}

.btn-control:hover {
    background-color: #5a4033;
}

input {
    width: 100%;
    max-width: 571px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reserva-img {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.reserva-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.info-adicional {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    flex-grow: 1;
    min-height: 100px;
    max-height: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.info-adicional h3 {
    font-weight: 700;
    margin-top: 0;
}

.info-adicional textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 10px;
}

.boton-reservar {
    text-align: center;
    margin-top: 25px;
}

.boton-reservar button {
    width: 310px;
    height: 37px;
    border-radius: 8px;
    gap: 6px;
    padding: 8px 12px;
    background: #48321A;
    color: #fff;
}

@media (max-width: 992px) {
    .reserva {
        flex-direction: column;
    }

    .reserva-img {
        display: none;
    }

    input, textarea {
        max-width: 100%;
    }

    .boton-reservar button {
        width: 90%;
    }

}
